body, html{
  margin: 0;
  padding: 0;
  min-block-size: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.cardWrap {
  background-color: rgb(36, 36, 36);
  color: rgb(235, 235, 235);
  border: 1px solid  rgb(235, 235, 235);
  border-bottom-right-radius: 5px;



}
.card{
  text-align: center;
}
.cardImg{
  border-radius: 50%;
}
.title{
  color: red;
}