body, html{
  margin: 0;
  padding: 0;
  
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  color: rgb(235, 235, 235);
  border: 1px solid  rgb(235, 235, 235);
  border-bottom-right-radius: 5px;
  margin-block-start: 5%;
}
.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.cardImg{
  border-radius: 50%;
}